<div id="content">
  <img src="../assets/images/good-samaritin-logo-green.png" alt="The Good Samaritan Logo" class="img-fluid"
    style="padding-bottom:1em">

  <div class="containerau">
    <div class="rowau">
      <div class="col col-xs-3">

        <div class="about-section">

          <h1>About Us at The Good Samaritan</h1>
          <p>We here at The Good Samaritan want to make it easier for you to trace if you have come into contact with
            covid. We believe transperancy is a key factor in getting this virus under control. Be a good samaritain
            wear your mask, report your status, and please stay safe. </p>



          <div class="rowau">

            <div class="columnau">
              <div class="cardau">

                <div class="containerau">
                  <div class="nameau">Adriana Soler</div>
                  <p class="titleau">Front End Development </p>
                  <p><a href='https://adrianasoler.net/'>Website</a></p>
                  <p><a href="mailto:asoler000@gmail.com">Contact Me</a> </p>

                </div>
              </div>
            </div>


            <div class="columnau">
              <div class="cardau">

                <div class="containerau">
                  <div class="nameau">Josh North</div>
                  <p class="titleau">Front End Development </p>
                  <p><a href='https://github.com/northjw'>Website</a></p>
                  <p><a href="mailto:northjw1@gmail.com">Contact Me</a> </p>

                </div>
              </div>
            </div>


            <div class="columnau">
              <div class="cardau">

                <div class="containerau">
                  <div class="nameau">Kentaro Kinoshita</div>
                  <p class="titleau">Back End Development</p>
                  <p><a href='https://kentarokinoshita.github.io/My_Profile/'>Website</a></p>
                  <p><a href="mailto:mixmix0321@gmail.com">Contact Me</a> </p>

                </div>
              </div>
            </div>



            <div class="columnau">
              <div class="cardau">

                <div class="containerau">
                  <div class="nameau">Yerson Arvelo</div>
                  <p class="titleau">Back End Developer</p>

                  <p><a href='https://github.com/yarvelo23'>Website</a></p>
                  <p><a href="yerson.a06@gmail.com">Contact Me</a> </p>

                </div>
              </div>
            </div>
          </div>
        </div>