<div id="content">
    <img src="../assets/images/good-samaritin-logo-green.png" alt="The Good Samaritan Logo" class="img-fluid" style="padding-bottom:1em">


<div class="contactcontainer">
  <div style="text-align:center">
   <h1>Contact Us</h1> 
    <p>Let us know what we can do to help improve the covid tracer:</p>
  </div>
  <div class="row">
    
    <div class="contactcolumn">
      <div style="text-align:left">
      <form id="contactform">
        <label for="name"> Name</label>
        <input type="text2" id="name" name="name" placeholder="Your name..">
        <label for="lname">E-mail</label>
        <input type="text2" id="email" name="email" placeholder="Your email..">
       <label for="subject">Subject</label>
        <input type="text2" id="subject" name="subject" placeholder="Your subject..">
        </select>
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Write something.." style="height:170px"></textarea>
        <input class="input.container" type="submit2" value="Submit">
      </form>
    </div>
  </div>
</div>
</div>
 