<ul class="timeline">
    <div class="dateheader">Wednesday November 11, 2020</div> 
  <li >
    <div class="member-infos">
      <h1 class='member-title'>CVS Pharamcy</h1><div class=" member-button-settings">
      {{!-- <span class="follow entypo-plus"></span>
      <span class="options entypo-cog"></span>
      <span class="delete entypo-cancel-squared" data-text="cancel-squared"></span>
      --}}
    {{!-- </div> --}}
      {{!-- <h2 class="member-location "><span class='entypo-location'></span>5 Penn Plaza On The Corner Of 8th Ave And 34th St, New York, NY 10001</h2>
      --}}
    {{!-- </div> --}}

  </li>
  <li class="event" >
      <div class="member-infos">
          <h1 class='member-title'>Cipriani Downtown</h1> <div class=" member-button-settings">
      {{!-- <span class="follow entypo-plus"></span> --}}
      {{!-- <span class="options entypo-cog"></span> --}}
      {{!-- <span class="delete entypo-cancel-squared" data-text="cancel-squared"></span> --}}
     
    {{!-- </div> --}}
          {{!-- <h2 class="member-location "><span class='entypo-location'></span>376 W Broadway, New York, NY 10012</h2> --}}
         
        {{!-- </div> --}}
 

  </li>
  <li class="event" >
      <div class="member-infos">
          <h1 class='member-title'>New York Public Library - Stephen A. Schwarzman Building</h1><div class=" member-button-settings">
      {{!-- <span class="follow entypo-plus"></span> --}}
      {{!-- <span class="options entypo-cog"></span> --}}
      {{!-- <span class="delete entypo-cancel-squared" data-text="cancel-squared"></span> --}}
     
    </div>
          {{!-- <h2 class="member-location "><span class='entypo-location'>     </span>476 5th Ave, New York, NY 10018</h2> --}}
      
        </div> --}}

    

  </li>
  <li class="event" >
 
      <div class="member-infos">
          <h1 class='member-title'>Runaway Roof</h1>
          {{!-- <h2 class="member-location "><span class='entypo-location'></span>321 Starr St New York, NY 11237</h2> --}}
        {{!-- </div> --}}

  
  </li>
  <div class="member-button-settings">
      {{!-- <span class="follow entypo-plus"></span>
      <span class="options entypo-cog"></span>
      <span class="delete entypo-cancel-squared" data-text="cancel-squared"></span> --}}
     
    </div>
</ul>

</div>