  <div class="login-page">

    <div class="form">
      <img src="./assets/images/good-samaritin-logo-green.png" alt="The Good Samaritan Logo" class="img-fluid" style="padding-bottom:1em">


      <form class="login-form">

        <input type="text" placeholder="Email Address" id="email"/>
        <input type="password" placeholder="password" id="password-input"/>
        <button type="submit">Log In</button> 

        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
      </div>
    </div>
  </div>
