 <div class="login-page">

    <div class="form">
     


      <form class="login-form">
            <img src="../assets/images/good-samaritin-logo-green.png" alt="The Good Samaritan Logo" class="img-fluid" style="padding-bottom:1em">
        
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
       <input type= "button" onClick="parent.location='/tracer/location'" value='Log In'>
      
      </form>
         </div>
</div>
