 <div class="login-page">

    <div class="form">
     


      <form class="login-form">
            <img src="../assets/images/good-samaritin-logo-green.png" alt="The Good Samaritan Logo" class="img-fluid" style="padding-bottom:1em">
        
        <input type="text" placeholder="email address" id="email-input">
        <input type="password" placeholder="password" id="password-input"/>
        <button type="submit">create account</button>
        <p class="message"> <a href="index">Back To Sign In</a></p>
      </form>
         </div>
</div>
