      <div class="container">
   <div class="row">
      
      <form class="form">
            <img src="./assets/images/good-samaritin-logo-green.png" alt="The Good Samaritan Logo" class="img-fluid" style="padding-bottom:1em">
        
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button onclick="location.href = 'www.yoursite.com'>create</button>
      
      </form>
         </div>
</div>
<a href="/comments/location"></a>