<div id="content">
    <img src="./assets/images/good-samaritin-logo-green.png" alt="The Good Samaritan Logo" class="img-fluid" style="padding-bottom:1em">

    <div class="container">
        <div class="row">
          <div class="col">
            <input class="form-control" type="text" placeholder="Search Dates" aria-label="Search">
          </div>
          <div class="container-fluid">
            {{> locationhistory}}
          </div>
         
        </div>
      </div>


      
<div class="et_pb_button_module_wrapper et_pb_module">
    <a class="et_pb_button et_pb_custom_button_icon et_animated et_pb_module et_pb_bg_layout_dark zoom infinite show_icon human-heart" href="" target="_blank" data-icon="" id="bouton-sticky" >Add Location</a>
</div>