@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
[class*="entypo-"] {
  width: 1em;
  height: 1em;
}
a,
span,
h1,
h2,
h3,
span {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #777;
}
h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: #999;
  font-weight: 100;
  font-size: 2.4em;
  margin: 0;
  border-bottom: 1px solid #777;
  padding-bottom: 0.2em;
}
h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: #999;
  font-weight: 100;
  font-size: 1.0em;
}
#content {
  margin-top: 50px;
  text-align: center;
}
.timeline {
  border-left: 0.25em solid #3FD632;
  background: White!important;
  margin: 2em auto;
  line-height: 1.4em;
  padding: 1em;
  padding-left: 3em;
  list-style: none;
  text-align: left;
  margin-left: 10em;
  margin-right: 3em;
  border-radius: 0.5em;
  min-width: 22em;
  }
  .event {
  min-width: 20em;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  }
  .timeline .event:before,
  .timeline .event:after {
  position: absolute;
  display: block;
  top: 1em;
  }
  .timeline .event:before {
  left: -15em;
  color:grey!important;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 9em;
  }
  .timeline .event:after {
  box-shadow: 0 0 0 0.2em3 #3FD632;
  left: -3.5em;
  background: white;
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
  content: "";
  }
  .timeline .event .member-location,
  .timeline .event .member-parameters {
  display: none;
  }
  .timeline .event:last-of-type .member-location,
  .timeline .event:last-of-type .member-parameters {
  display: block;
  }
  .member-infos {
  padding: 10px;
  text-align: left;
  position: relative;
  }
  .member-infos > h1 {
  font-weight: bold;
  font-size: 1.4em;
  }
  .member-location a:before {
  margin-right: 5px;
  }
  .member-location {
  text-indent: 2px;
  }
  .dateheader{
  color:#3FD632!important;
  padding:.5em;
  font-size:2rem;
  line-height:1em;
  }
  .follow,
  .options {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #D3D3D3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 0 0 #C0C0C0;
  border-radius: 3px;
  display: inline-block;
  }
  .follow:hover,
  .options:hover {
  box-shadow: 0 1px 0 0 #C0C0C0;
  box-sizing: border-box;
  vertical-align: bottom;
  margin-bottom: -1px;
  }
  .delete,
  .options {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #D3D3D3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 0 0 #C0C0C0;
  border-radius: 3px;
  display: inline-block;
  }
  .delete:hover,
  .options:hover {
  box-shadow: 0 1px 0 0 #C0C0C0;
  box-sizing: border-box;
  vertical-align: bottom;
  margin-bottom: -1px;
  }
  .member-socials {
  display: inline-block;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 8px;
  float: right;
  }
  .member-socials li {
  display: inline-block;
  }
  .shots-number,
  .followers {
  font-weight: normal;
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
  }
  .member-contact {
  position: absolute;
  right: 10px;
  top: 10px;
  }
  .member-contact li {
  display: inline-block;
  margin-left: 10px;
  }
  .member-shots-number {
  padding-right: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  margin-right: 6px;
  margin-left: 6px;
  }
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #F2F2F2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: green;
}
.covid {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: grey!important;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #B3B3B3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1A1A1A;
}
.container .info span {
  color: #4D4D4D;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.dateheader{
  color:#3FD632!important;
}
#bouton-sticky {
  position:fixed;
  bottom:1%;
  right:1%;
  z-index:9999;
}
#bouton-sticky {
    color: #FFFFFF!important;
    border-width: 5px!important;
    border-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    letter-spacing: 2px;
    font-weight: bold!important;
    text-transform: uppercase!important;
    padding-left: 2em;
    padding-right: 0.7em;
    background-image: -o-linear-gradient(290deg,#29C4A9 30%,#2B87DA 64%)!important;
    background-image: linear-gradient(160deg,#29C4A9 30%,#2B87DA 64%)!important;
}
#bouton-sticky:hover {
    background: #29C4A9!important;
}
#bouton-sticky:after {
    display: none;
}
#bouton-sticky:hover:before {
    margin-left: .3em;
    right: auto;
    margin-left: -1.3em;
}
@keyframes walkanim {
  to { background-position: 100% 0; }
}
@keyframes stroll {
  from { transform: translateX(-100%); }
  to { transform: translateX(500%); }
}
#walk-container {
  display: inline-block;
  position: relative;
  width: 20%;
  padding-bottom: 30%; 
  vertical-align: middle; 
  overflow: hidden; 
  animation: stroll 30s linear infinite;
}
#walk {
  display: inline-block;
  position: absolute;
  top: -200;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/walk-sequence.svg);
  background-repeat: no-repeat;
  background-size: 800%;
  animation: walkanim 1s infinite steps(7);
}
.img-fluid{
max-width:100%!important;
height:auto;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #7A00FF, #FF00C8, #FF0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.glow-on-hover:active {
      width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:transparent;
  left: 0;
  top: 0;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.human-heart {
  margin: 5em;
  animation: .8s infinite beatHeart;
}
@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}